$blue: blue;

@font-face {
    font-family: 'BarlowCondensed';
    src: url('~/assets/fonts/BarlowCondensed-Medium.ttf');

    font-family: 'BarlowCondensed';
    src: url('~/assets/fonts/BarlowCondensed-Regular.ttf');

  }

  body {
    font-family: 'BarlowCondensed';
    margin-top: 2%;
    }



h1 , a {
    color: $blue;

  }

  h6{
    font-size: 256px;
    color: $blue;
    margin: 300px 0px;
  }

  a {
      text-decoration: none;
      transition: 300ms ease-in-out;

  }

  a:hover {
    text-decoration: none;
    color: black;
    transition: 300ms ease-in-out;

}
